<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task</title>
    <link rel="stylesheet" href="task.css">
</head>
<body>
    <div class="logout">
        <button><a href="/logout">Log out</a></button>
    </div>
    <div class="task">
        <h1>TASKS</h1>
        <table>
            <thead>
                <tr>
                    <th hidden>ID</th>
                    <th>Task</th>
                    <th>Time</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <% if (tasks.length > 0) { %>
                <% for (var i = 0; i < tasks.length; i++) { %>
                    <tr>
                        <td hidden><%= tasks[i].id %></td>
                        <td><%= tasks[i].Task %></td>
                        <td><%= tasks[i].Time %></td>
                        <td>
                            <% if (tasks[i].Status !== 'Complete') { %>
                                <%= tasks[i].Status %>
                            <% } else { %>
                                <del>Upcoming</del>
                            <% } %>
                        </td>
                        <td>
                            <button>
                                <a href="/updatetaskData?id=<%= tasks[i].id %>" target="_blank">Update</a>
                            </button>
                            <button>
                                <a href="/delete?id=<%= tasks[i].id %>" target="_blank">Delete</a>
                            </button>
                            <% if (tasks[i].Status !== 'Complete') { %>
                                <form method="POST" action="/task/<%= tasks[i].id %>/complete">
                                    <button type="submit">Complete</button>
                                </form>
                            <% } %>
                        </td>
                    </tr>
                <% } %>
            <% } else { %>
                <tr>
                    <td colspan="5">Data not found</td>
                </tr>
            <% } %>
        </table>
    </div>
    <div class="add">
        <button><a href="/taskAdd">Create Task</a></button>
    </div>
</body>
</html>
